@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

html{
    font-size: 62.5%; /* 1rem=10px */
}

body{
    color: #333;
    font-family: 'Noto Sans', 'Noto Sans JP', sans-serif;
}

body a{
    text-decoration: none;
    color: black;
}

body h2{
    font-size: 1.6rem; /* 16px */
    opacity: 0.9;
}

body ul{
    display: flex;
    display: -webkit-flex; /* Safari */
    list-style: none;
    margin-bottom: 15px;
}



.wrapper{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    text-align: center;
}

.hover-under{
    position: relative;
    display: inline-block;
}

.hover-under::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 0.5px;
    background: #333;
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.hover-under:hover::after {
    bottom: -8px;
    opacity: 0;
    visibility: hidden; 
}

.arrow{
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 15px;
}
.arrow::before,
.arrow::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
}

.triangle::before{
    left: 4px;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border: 6px solid transparent;
    border-left: 8px solid rgb(61, 61, 61);
}


/* ヘッダー */

header{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: white;
}

.site-logo{
    padding: 20px 15px;
    text-align: left;
}

header nav{
    height: 40px;
    background-color: rgb(50, 49, 53);
}

header a{
    color: white;
}

header li{
    padding: 0 30px 0 20px;
    line-height: 40px;
    font-size: 1.4rem;
}

/* ピックアップ記事 */
#pickup{
    padding-top: 110px; /* 最初の画像がヘッダーに隠れないよう調整 */
    padding-bottom: 50px;
}
#pickup img{
    width: 100%;
    height: 50%;
    margin: 30px 0 15px 0;
}

#pickup h2{
    line-height: 2.4rem;
    margin-bottom: 20px;
    text-align: left;
}

#pickup p{
    font-size: 1.4rem; 
    opacity: 0.8;
}

/* メイン記事 */
.main{
    margin-bottom: 100px;
}

.main h1{
    line-height: 3.6rem;
    margin: 10px 0;
    text-align: left;
    font-size: 2.4rem;
    opacity: 0.8;
}

.main li{
    margin: 10px 20px 0 0;
    text-align: left;
    font-size: 1.4rem;
    opacity: 0.9;
}

.main img{
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
}

.main p{
    line-height: 2.2rem;
    margin: 0 auto 30px auto;
    width: 84%;
    text-align: left;
    font-size: 1.6rem;
    opacity: 0.9;
}

.main .read-more{
    line-height: 1.4rem;
    text-align: center;
    font-size: 1.4rem;
    opacity: 0.8;
}

/* サイドバー */
#author img{
    margin-bottom: 20px;
    border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
    width:  130px;       
    height: 130px;       
}

#author h2{
    margin-bottom: 30px;
    font-size: 1.8rem;
}

#author p{
    line-height: 2.0rem;
    margin-bottom: 50px;
    font-size: 1.4rem;
    opacity: 0.9;
    text-align: left;
}

#Ranking{
    margin-bottom: 50px;
}

#Ranking h2{
    margin-bottom: 30px;
    font-size: 1.8rem;
}


#Ranking img{
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
}

#Ranking p{
    margin-bottom: 30px;
    font-size: 1.4rem;
    text-align: left;
}

#Archive h2{
    margin-bottom: 30px;
    font-size: 1.8rem;
}


#Archive p{
    margin: 20px 0 20px 20px;
    font-size: 1.4rem;
    text-align: left;
    opacity: 0.8;
}

/* フッター */
footer{
    width: 100%;
    background-color: rgb(248, 248, 248);
}

#About{
    padding: 0 16px;
}
#About h3{
    padding: 50px 0 30px 0;
    font-size: 1.8rem;
    text-align: left;
    opacity: 0.9;
}

#About p{
    line-height: 2.0rem;
    margin-bottom: 20px;
    font-size: 1.4rem;
    text-align: left;
    opacity: 0.9;
}

#About ul{
    flex-direction: column;
    font-size: 1.4rem;
    text-align: left;
}

#About li{
    margin: 5px 0;
}

#Menu{
    padding: 0 16px;
}

#Menu h3{
    padding: 30px 0 30px 0;
    font-size: 1.8rem;
    text-align: left;
}

#Menu ul{
    flex-direction: column;
    font-size: 1.4rem;
    text-align: left;
}

#Menu li{
    margin-left: 15px;
}

#Twitter{
    padding: 0 16px;
    margin-bottom: 100px;
}

#Twitter h3{
    padding: 30px 0 30px 0;
    font-size: 1.8rem;
    text-align: left;
}

.copy{
    padding-bottom: 10px;
    font-size: 1.2rem;
    text-align: center;
}




@media(max-width:479px){

header ul{
    overflow-x: scroll;
   }
}

@media(min-width:767px){

/* ピックアップ記事 */
    #pickup{
        display: flex;
        display: -webkit-flex; /* Safari */
        justify-content: space-between;
        padding-bottom: 0;
    }

    #pickup.wrapper{
    margin: 0 auto 30px auto;

    }

    #pickup img{
    margin: 40px 0 15px 0;

    }

    #pickup .article2{
        padding: 0 20px;
    }

/* メイン */

    .container{
        display: flex;
        display: -webkit-flex; /* Safari */
        justify-content: space-between;
    }

    #main-article{
        width: 68%;
    }

    #sidebar{
        width: 32%;
    }

/* メイン記事 */

    .main p{
    line-height: 2.2rem;
    margin: 0 auto 30px auto;
    width: 90%;
    text-align: left;
    font-size: 1.6rem;
    opacity: 0.9;
    }

/* サイドバー */
    #sidebar{
    padding: 0 20px;
    }

    #author img{
    margin-top: 20px;
    }

    #author p{
    text-align: left;
    }

    #Ranking img{
        width: 100%;
        height: 40%;
        margin-bottom: 10px;
    }

    #Ranking p{
    line-height: 2.0rem;
    font-size: 1.4rem;
    text-align: left;
    }

/* フッター */
    #About{
       width: 33%;
    }

    #Menu{
        width: 33%;
    }

    #Twitter{
        width: 33%;
    }






}